.container {
    position: relative;
    z-index: 1;
}

.bolder {
    font-weight: bolder;
    text-align: center;
}

.copy-modal-title {
    font-size: 32rpx;
    margin-top: 10rpx;
}

.copy-modal-desc {
    margin-top: 40rpx;
    color: #a1a1a1;
}

.copy_alone_line::after {
    content: '';
    position: absolute;
    top: 255rpx;
    left: 50%;
    width: 70%;
    border: 1rpx dashed #a1a1a1;
    transform: translateX(-50%);
}

.rank-time1 {
    position: fixed;
    width: 750rpx;
    height: 60rpx;
    left: 0;
    bottom: 100rpx;
    display: block;
}

.rank-time2 {
    position: fixed;
    width: 750rpx;
    height: 60rpx;
    left: 0;
    bottom: 162rpx;
    display: block;
}