button::after {
    width: 0;
    height: 0;
    border: 0;
    background: none;
}

/*
  立即开通btn style
*/
.gold-bg-btn {
    height: 68rpx;
    line-height: 68rpx;
    font-size: 26rpx;
    color: #222222;
    text-align: center;
    background: linear-gradient(-29deg, rgba(236, 192, 135, 1), rgba(236, 191, 134, 1), rgba(248, 220, 170, 1));
    box-shadow: 0px 6px 9px 0px rgba(172, 52, 31, 0.31);
    border-radius: 50rpx;
}

.btn {
    display: inline-block;
    padding: 0 1em;
    line-height: 68rpx;
    font-size: 28rpx;
    border: none;
    box-sizing: border-box;
    border-radius: 0;
}

.btn-green {
    background-color: rgb(84, 185, 56);
    color: #fff;
}

.btn-red {
    background-color: #dc3538;
    color: #fff;
    border-radius: 0;
}

.label-btn {
    display: inline-block;
    min-width: 74rpx;
    line-height: 34rpx;
    height: 34rpx;
    text-align: center;
    font-size: 22rpx;
    border: 1rpx solid #ccc;
    border-radius: 6rpx;
    background: #fff;
    margin-right: 20rpx;
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
}

.label-btn-active,
.label-btn-default {
    border: none;
    color: #fff;
    background-color: #79BCFE;
}

.label-btn-default {
    background-color: #dc3538;
}

/*
签到页btn
*/
.sign-in-btn {
    height: 60rpx;
    line-height: 60rpx;
    color: #fff;
    background: linear-gradient(0deg, rgba(252, 36, 52, 1), rgba(255, 92, 83, 1), rgba(255, 112, 112, 1));
    border-radius: 30rpx;
    box-shadow: 0 10rpx 21rpx 0 rgba(198, 41, 46, 0.22);
    text-align: center;
    font-size: 30rpx;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.icon-btn {
    display: inline-block;
    min-width: 2.2em;
    height: 95rpx;
    font-size: 20rpx;
    padding: 0;
    border: none;
    background-color: transparent;
    background-position: center 10rpx;
    background-repeat: no-repeat;
    background-size: 52rpx, 52rpx;
    color: #4c4c4c;
    padding-top: 50rpx;
}

.copy-btn {
    display: inline-block;
    line-height: 1;
    padding: .3em .8em;
    font-size: 26rpx;
    border-radius: 0;
    color: rgba(220, 53, 56, 1);
    background: rgba(255, 255, 255, 1);
    border: 1rpx solid rgba(220, 53, 56, 1);
}